<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>

  <style>
    #loader {
      width: 50px;
      position: relative;
      top: 35%;
      left: 44%;
    }

    #showAppointmentDetails {
      width: 80%;
      margin: 0 auto;
    }
  </style>
</head>

<body>

  <% include partials/sidenav %>
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <% include partials/topnav %>

    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6" style="height:120px;">
      <div class="container-fluid">
        <div class="header-body">

          <!-- Card stats -->

        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">

      <div class="row">
        <div class="col-xl-8">
          <div class="card" style="height:480px;">
            <!-- Card header -->
            <div class="card-header border-0">
              <div class="row">
                <div class="col-6">
                  <h3 class="mb-0">Diagnosed Patients</h3>
                </div>
                <div class="col-6 text-right">
                  <!-- <a href="#" class="btn btn-sm btn-neutral btn-round btn-icon" data-toggle="tooltip"
                data-original-title="Edit product">
                <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span>
                <span class="btn-inner--text">Export</span>
              </a> -->
                </div>
              </div>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th>Problem</th>
                    <th>Date</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  

                  

                </tbody>
              </table>
            </div>

            <img src="/assets/img/spinner.gif" id="loader" alt="loading" style="display: none">
            <div id="showAppointmentDetails" style="display: none;">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img id="patient_image" alt="" src="">
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span id="patient_name" class="mb-0 text-sm  font-weight-bold"></span>
                </div>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span id="patient_problem" class="mb-0 text-sm  font-weight-bold"></span>
                </div>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span id="patient_date" class="mb-0 text-sm  font-weight-bold"></span>
                </div>
              </div>
              <button id="close_detail" onclick="closeDetail()" class="btn btn-success btn-sm"
                style="display: none">Close</button>
              <button id="diagnose_btn" onclick="diagnosed()" class="btn btn-success btn-sm"
                style="display: none">Diagnosed</button>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <!-- Progress track -->
          <div class="card" style="height:480px;">
            <!-- Card header -->
            <div class="card-header">
              <!-- Title -->
              <h5 class="h3 mb-0">Requests</h5>
            </div>
            <!-- Card body -->
            <div class="card-body" style="overflow-y: auto;">
              <!-- List group -->
              <ul class="list-group list-group-flush list my--3">
                

              </ul>
            </div>
          </div>
        </div>

      </div>

      <% include partials/footer %>

    </div>
  </div>

  <% include partials/foot %>

  <script>
    function acceptAppointment(apid, dfuid, pfuid, date) {

      var ap_obj = {
        "apid": apid,
        "dfuid": dfuid,
        "pfuid": pfuid,
        "date": date
      };
      //console.log("ap", ap_obj);
      $.ajax({
        url: '/appointment/accept',
        dataType: 'json',
        type: 'post',
        contentType: 'application/json',
        data: JSON.stringify({
          appointment: ap_obj
        }),

        success: function (data, textStatus, jQxhr) {
          console.log("Success", data);
        },
        error: function (jqXhr, textStatus, errorThrown) {
          console.log(errorThrown);
        }
      });

      location.reload();

    }

    function rejectAppointment(apid, dfuid, pfuid, date) {
      var ap_obj = {
        "apid": apid,
        "dfuid": dfuid,
        "pfuid": pfuid,
        "date": date
      };
      //console.log("ap", ap_obj);
      $.ajax({
        url: '/appointment/reject',
        dataType: 'json',
        type: 'post',
        contentType: 'application/json',
        data: JSON.stringify({
          appointment: ap_obj
        }),

        success: function (data, textStatus, jQxhr) {
          console.log("Success", data);
        },
        error: function (jqXhr, textStatus, errorThrown) {
          console.log(errorThrown);
        }
      });

      location.reload();

    }

    function reschedule(apid, dfuid, pfuid, date) {

      var ap_obj = {
        "apid": apid,
        "dfuid": dfuid,
        "pfuid": pfuid,
        "date": date
      };

      console.log(ap_obj);

      $.ajax({
        url: '/appointment/reschedule',
        dataType: 'json',
        type: 'post',
        contentType: 'application/json',
        data: JSON.stringify({
          appointment: ap_obj
        }),

        success: function (data, textStatus, jQxhr) {
          console.log("Success", data);
          location.reload();
        },
        error: function (jqXhr, textStatus, errorThrown) {
          console.log(errorThrown);
        }
      });

    }

    function findDetails(problem, apid, dfuid, pfuid, date, flag) {

      console.log(date, problem);

      $(".table-responsive").hide("fast");
      $("#loader").show();

      firebase.database().ref('/Patients/' + pfuid).once('value').then(function (snap) {
        var patient = snap.val();
        console.log(patient);

        $("#patient_image").attr('src', patient.photoUrl);
        $("#patient_name").text(patient.name);
        $("#patient_problem").text(problem);
        $("#patient_date").text(date);
        $("#close_detail").css("display", "inline");
        $("#diagnose_btn").css("display", "none");
        console.log("flag", flag);
        if (flag == '1')
          $("#diagnose_btn").css("display", "inline");
        $("#loader").hide("slow");
        $("#showAppointmentDetails").show("slow");
      });

    }

    function closeDetail() {
      $("#showAppointmentDetails").hide("fast");
      $(".table-responsive").show("slow");
    }
  </script>

</body>

</html>