<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>

  <style>
    #loader {
      width: 50px;
      position: relative;
      top: 35%;
      left: 44%;
    }

    #showAppointmentDetails {
      width: 80%;
      margin: 0 auto;
    }
  </style>
  <script>
    var dfuid = localStorage.getItem('uid');
    
    firebase.database().ref('/appointments/doctor/'+dfuid).on('value',function(snap){
      var data = snap.val();

      var row="";
      var row2 = "";

      for(key in data){
        
        row2 += "<li>";
        var dd=data[key];
        count=0;
        for(key2 in dd){
          
          var ap = dd[key2];
          if(ap.status == 'diagnosed'){
            count++;
            row+='<tr><td>'+ap.problem+'</td>';
            row+='<td>'+ap.date+'</td></tr>';
          }
        }
        row2+='<div class="row"><div class="col-2">'+count+' </div>';
        row2+='<div class="col-10">'+key+'</div></div>';
        row2+='</li>';

        row+='</tr>';
      }
      document.getElementById('d-table').innerHTML=row;
      document.getElementById('count_list').innerHTML=row2;

    });
  
  </script>
</head>

<body>

  <% include partials/sidenav %>
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <% include partials/topnav %>

    <div class="header bg-primary pb-6" style="height:120px;">
      <div class="container-fluid">
        <div class="header-body">

          <!-- Card stats -->

        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">

      <div class="row">
        <div class="col-xl-8">
          <div class="card" style="height:480px;">
            <!-- Card header -->
            <div class="card-header border-0">
              <div class="row">
                <div class="col-6">
                  <h3 class="mb-0">Diagnosed Patients</h3>
                </div>
                <div class="col-6 text-right">
                
                </div>
              </div>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th>Problem</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody id="d-table">
                  

                  

                </tbody>
              </table>
            </div>

          </div>
        </div>
        <div class="col-xl-4">
          <!-- Progress track -->
          <div class="card" style="height:480px;">
            <!-- Card header -->
            <div class="card-header">
              <!-- Title -->
              <h5 class="h3 mb-0">Count per Day</h5>
            </div>
            <!-- Card body -->
            <div class="card-body" style="overflow-y: auto;">
              <!-- List group -->
              <ul id="count_list" class="list-group list-group-flush list my--3">
                

              </ul>
            </div>
          </div>
        </div>

      </div>

      <% include partials/footer %>

    </div>
  </div>

  <% include partials/foot %>

</body>

</html>