<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>

  <style>
    #message,
    #mobile-length {
      display: none;
    }

    .invalid {
      color: red;
    }

    .valid {
      color: green;
    }
  </style>
</head>

<body class="bg-default">

  <!-- Navbar -->
  <nav id="navbar-main" class="navbar navbar-horizontal navbar-transparent navbar-main navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/assets/img/brand/logo-white.png">
      </a>
  </nav>
  <!-- Main content -->
  <div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card bg-secondary border-0">

            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Sign Up </small>
              </div>
              <form id="signUpForm" role="form">
                <div id="sf1" class="frm">
                  <fieldset>
                    <legend>Step 1 of 3</legend>

                    <div class="form-group">
                  
                      <div class="input-group input-group-merge input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                        </div>
                        <input id="doc_name" class="form-control" placeholder="Name" type="text" required>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                        </div>
                        <input id="doc_email" class="form-control" placeholder="Email" type="email" required>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                        </div>
                        <input id="contact" class="form-control" placeholder="Mobile" type="text" required>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-world"></i></span>
                        </div>
                        <input id="city" class="form-control" placeholder="City" type="text" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-world"></i></span>
                        </div>
                        <input id="state" class="form-control" placeholder="State" type="text" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-pin-3"></i></span>
                        </div>
                        <input id="address" class="form-control" placeholder="Address" type="text" required>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-lg-10 col-lg-offset-2">
                        
                        <button class="btn btn-primary open1" type="button">Next <span
                            class="fa fa-arrow-right"></span></button>
                      </div>
                    </div>
                  </fieldset>
                </div>

                
                <div id="sf2" class="frm" style="display: none">
                  <fieldset>
                    <legend>Step 2 of 3</legend>

                    <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                        </div>
                        <input id="password" class="form-control" placeholder="Choose Password" type="password"
                          required>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                        </div>
                        <input id="confirm-password" class="form-control" placeholder="Confirm Password" type="password"
                          required>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-lg-10 col-lg-offset-2">
                        
                        <button class="btn btn-warning back2" type="button"><span class="fa fa-arrow-left"></span>
                          Back</button>
                        
                        <button class="btn btn-primary open2" type="button">Next <span
                            class="fa fa-arrow-right"></span></button>
                      </div>
                    </div>
                  </fieldset>
                </div>

                
                <div id="sf3" class="frm" style="display: none;">
                  <fieldset>
                    <legend>Step 3 of 3</legend>

                    <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                        </div>
                        <input id="speciality" class="form-control" placeholder="Speciality" type="text" required>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                        </div>
                        <input id="open-time" class="form-control" placeholder="Clinic Opening time" type="text" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                        </div>
                        <input id="average-time" class="form-control" placeholder="Average Diagnostic Time in minutes" type="number"
                          required>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-book-bookmark"></i>
                            &nbsp;&nbsp;&nbsp;Verification Document :
                          </span>
                        </div>
                        <input id="verification-document" class="form-control" placeholder="Upload document" type="file"
                          required>
                      </div>
                      <button id="upload" type="button" onclick="uploadFile()" class="btn btn-primary btn-md mt-4">Upload</button>
                    </div>


                    <div class="form-group">
                      <div class="col-lg-10 col-lg-offset-2 text-center">
                        
                        <button class="btn btn-warning back3" type="button"><span class="fa fa-arrow-left"></span>
                          Back</button>
                        
                        <button id="SignUp" class="btn btn-primary open3" type="button" disabled>Create Account
                        </button>
                        <img src="spinner.gif" alt="" id="loader" style="display: none">
                      </div>
                    </div>
                  </fieldset>
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->

  <% include partials/footer %>

  <% include partials/foot %>

  <script type="text/javascript">

    jQuery().ready(function () {

      $(".open1").click(function () {
          $(".frm").hide("fast");
          $("#sf2").show("slow");
      });

      $(".open2").click(function () {
          $(".frm").hide("fast");
          $("#sf3").show("slow");

      });

      $(".back2").click(function () {
        $(".frm").hide("fast");
        $("#sf1").show("slow");
      });

      $(".back3").click(function () {
        $(".frm").hide("fast");
        $("#sf2").show("slow");
      });

    });
  </script>

  <script>

    var download_url;

    function uploadFile() {

      const file_input = document.getElementById('verification-document');
      var verification_file = file_input.files[0];

     
      var metadata = {
        contentType: 'application/pdf'
      };

      var storageRef = firebase.storage().ref();

      
      var uploadTask = storageRef.child('uploads/' + verification_file.name).put(verification_file, metadata);

      
      uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED, 
        function (snapshot) {
          
          var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
          console.log('Upload is ' + progress + '% done');
          switch (snapshot.state) {
            case firebase.storage.TaskState.PAUSED: 
              console.log('Upload is paused');
              break;
            case firebase.storage.TaskState.RUNNING: 
              console.log('Upload is running');
              break;
          }
        }, function (error) {

          switch (error.code) {
            case 'storage/unauthorized':
              // User doesn't have permission to access the object
              break;

            case 'storage/canceled':
              // User canceled the upload
              break;
            case 'storage/unknown':
              // Unknown error occurred, inspect error.serverResponse
              break;
          }
        }, function () {
          // Upload completed successfully, now we can get the download URL
          uploadTask.snapshot.ref.getDownloadURL().then(function (downloadURL) {
            download_url = downloadURL;
            document.getElementById('SignUp').disabled = false;
            //console.log(upload_success, download_url);
            //console.log('File available at', downloadURL);

          });
        });

    }

    var signup = document.getElementById('SignUp');

    signup.onclick = function () {
      
      const name = document.getElementById('doc_name').value;
      const email = document.getElementById('doc_email').value;
      const password = document.getElementById('password').value;
      const speciality = document.getElementById('speciality').value;
      const city = document.getElementById('city').value;
      const state = document.getElementById('state').value;
      const address = document.getElementById('address').value;
      const contact = document.getElementById('contact').value;
      const opening_time = document.getElementById('open-time').value;
      const average_time = parseInt(document.getElementById('average-time').value);
      alert(typeof(average_time));
      
      if (download_url) {

        firebase.auth().createUserWithEmailAndPassword(email, password)
          .then(function (user) {
            const doctor = {
              "fuid": user.user.uid,
              "name": name,
              "rating": 0,
              "count": 0,
              "speciality": speciality,
              "verified": false,
              "pdf": download_url,
              "address": {
                "city": city,
                "state": state,
                "location": address
              },
              "mobile": contact,
              "opening_time": opening_time,
              "average_time": average_time
            };
            console.log(doctor);

            firebase.database().ref('doctors/' + user.user.uid).set(doctor)
              .then(function (res) {
                localStorage.setItem('uid', user.user.uid);
                window.location.href = "/dashboard?uid=" + user.user.uid;
                //$.get("/dashboard", { uid : user.user.uid });
              });
          })
          .catch(function (error) {
            // Handle Errors here.
            var errorCode = error.code;
            var errorMessage = error.message;

            console.log(errorMessage);
          });
      }
      //console.log(form);
    }
  </script>
</body>

</html>